.doctors {
}
.doctors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .doctors-item {
    padding: 20rem;
    border-radius: 20rem;
    background: #f9f1fe;
  }
  
  .doctor-head {
    
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 15px;
    
  }
  
  .doctor-head img {
   
  }
  
  .doctor-head h3 {
    margin-bottom: 30px;
  }
  
  .doctor-head p {
    flex-wrap: wrap;
  }
  
  .doctors-item p {
   
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn a {
    color: #fff;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }