.footer{
    width:100%;
   background: #f9f1fe;
   
}
.footer-container {
    max-width: calc(1170rem - 40rem);
	padding: 0 20rem;
	margin-inline: auto;
   
    
}
.footer-grid {
    display: grid;
    gap: 50rem;;
    grid-template-columns: repeat(3 , 1fr);
}
.grid {

		&__item {
            h4{
font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
color: #262626;
            }
		}
        p {
            font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #262626;
        }
        
        
}
